<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>
      Below we have a large collection of data.
      Please make and design a front end that uses this data in a thoughtful, interesting way.
     </p>
    <h4>Here is your json data:</h4>
    <div>
      <%= beers %>
    </div>
  </body>
</html>
